.pageheight{
    min-height: 389px;
}

/* public */
#container_color{
    background: linear-gradient(to bottom right, #B0D7EC, #AFF0CD); 
}

.card_shadow{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
}

/* History */
#card_warning{
    background-color: #FFE0BA;
}